doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(href="./css/style.css" rel="stylesheet")
    body
        h1= h1
        article
            header
                h2= name_p
            figure
                img(src="./img/cat.jpg" class="big small trans")
            p= age
            p= weight_p
        script(src="./js/main.js")